{% extends 'base.html' %}

{% block content %}
    <h1>Home View</h1>
    <p><a href="/books/add/">Add new book</a></p>
    <p><a href="/books/search/">Search</a></p>
    <p><a href="/books/import/">Import book from API</a></p>
    <table class="table">
    <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Id</th>
          <th scope="col">Title</th>
          <th scope="col">Author</th>
          <th scope="col">Pub_date</th>
          <th scope="col">Isbn_num</th>
          <th scope="col">Page_num</th>
          <th scope="col">Link</th>
          <th scope="col">Language</th>
        </tr>
    </thead>
    <tbody>
    {% for item in form %}
        <tr>
            <th scope="row">{{ forloop.counter }}</th>
            <td>{{ item.id }}        </td>
            <td>{{ item.title }}     </td>
            <td>{{ item.author}}     </td>
            <td>{{ item.pub_date }}  </td>
            <td>{{ item.isbn_num }}  </td>
            <td>{{ item.page_num }}  </td>
            <td>{{ item.link }}      </td>
            <td>{{ item.language }}  </td>
            <td><a href="/books/{{ item.id }}/edit">Edit</a></td>
            <td><a href="/books/{{ item.id }}/delete">Delete</a></td>
        </tr>
        {% endfor %}
    </tbody>
    </table>


{% endblock %}
